.all-card {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border-top: 2px solid rgb(26, 133, 133);
}

.all-card-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 20%;
    height: 100%;
}

.all-card-image {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.all-card-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* padding: 10px; */
    color: black;
}

.all-card-date {
    font-style: italic;
}

.all-card-title {
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
}

.all-card-text {
    font-size: 15px;
    font-weight: 300;
}

.all-card-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
}

.all-card-fake-button {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 160px;
    margin-top: 5px;
    padding: 10px;
    text-decoration: none;
    outline: 2px solid rgb(26, 133, 133);
    border-radius: 7px;
    background-color: whitesmoke;
}

.all-card-fake-button:hover {
    background-color: rgb(26, 133, 133);
    color: whitesmoke;
}

/* Large devices such as laptops, computers (greater than 1024px) */
@media only screen and (min-width: 1024px) {
    .all-card {
        flex-direction: row;
        height: 30vh;
    }

    .all-card-image-wrapper {
        width: 20%;
    }

    .all-card-content-wrapper {
        width: 80%;
        padding: 10px;
    }
}

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
    .all-card {
        flex-direction: column;
    }

    .all-card-image-wrapper {
        width: 100%;
    }

    .all-card-content-wrapper {
        width: 100%;
    }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
    .all-card {
        flex-direction: column;
    }

    .all-card-image-wrapper {
        width: 100%;
    }

    .all-card-content-wrapper {
        width: 100%;
        padding: 10px 0;
    }
}