.card {
    display: flex;
    flex-direction: row;
    height: 20vh;
    margin: 10px;
    border-top: 2px solid rgb(26, 133, 133);
    /* border-bottom: 2px solid rgb(26, 133, 133); */
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    justify-content: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.card-image-wrapper {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid red; */
}

.card-image {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.card-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: black;
    /* border: 1px solid red; */
    padding: 10px;
}

.card-title {
    font-family: cursive;
    /* font-s?tyle: italic; */
}