.card {
    display: flex;
    flex-direction: row;
    height: 30vh;
    margin: 10px;
    border-top: 2px solid rgb(26, 133, 133);
    /* border-bottom: 2px solid rgb(26, 133, 133); */
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    justify-content: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.card-image-wrapper {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid red; */
}

.card-image {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.card-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: black;
    /* border: 1px solid red; */
    padding: 10px;
}

.card-content {
    font-size: 15px;
    font-weight: 300;
}

.card-title {
    font-family: cursive;
    margin-bottom: 5px;
}

.card-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
}


.fake-button {
    outline: 2px solid rgb(26, 133, 133);
    text-decoration: none;
    padding: 15px;
    border-radius: 7px;
    background-color: whitesmoke;
    margin-top: 5px;
    display: flex;
    align-self: flex-end;
    width: 160px;
    justify-content: center;
}

.fake-button:hover {
    background-color: rgb(26, 133, 133);
    color: whitesmoke;
}
