.find-card {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* border: 1px solid saddlebrown; */
    display: table;
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
}

.find-caption {
    display: table-caption;
    caption-side: bottom;
    background-color: whitesmoke;
    padding: 0 15px 15px 15px;
    font-family: 'Trebuchet MS', sans-serif;
}

img[src*="land_"] {
    max-width: 100%;
    width: 550px;
    height: 350px;
}

img[src*="port_"] {
    max-width: 100%;
    width: 400px;
    height: 500px;
}

/* .find-caption {
    color: whitesmoke;
} */