.post-card-wrapper {
    margin: 5px;
    padding: 1px;
    background-color: whitesmoke;
}

.post-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    margin: 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.post-card-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    backdrop-filter: blur(10px);
    z-index: 0;
}

.post-card-title {
    font-family: "Oswald", serif;
    font-weight: 400;
    color: white;
}