.main-home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-sections {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.home-heading {
    justify-content: center;
    font-family: "Tangerine", serif;
    font-style:oblique;
    font-weight: 100;
    font-size: 120px;
    color: white;
}

.home-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
    padding: 20px;
    transform: rotate(-4deg);
    position: relative;
    background-color: white;
}

.home-image {
    width: 95%;
    height: 95%;
    position: absolute;
}

.home-greeting-wrapper {
    position: absolute;
    z-index: 100;
    bottom: 1em;
}

.home-greeting {
    font-family: "Pacifico", serif;
    font-style: oblique;
    font-size: 40px;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

/* Large devices such as laptops, computers (greater than 1024px) */
@media only screen and (min-width: 1024px) {
    .home-heading {
        font-size: 120px;
    }

    .home-image-container {
        width: 450px;
        height: 300px;
    }

}

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {

}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {

    .home-heading {
        font-size: 60px;
    }

    .home-image-container {
        width: 350px;
        height: 200px;
    }
}