.main-home-section {
    display: flex;
    flex-direction: row;
}

.home-sections {
    display: flex;
    align-items: center;
    width: 50%;
    height: 85vh;
    padding-right: 30px;
}

.left-home-section {
    justify-content: right;
    width: 55%;
}

.right-home-section {
    justify-content: left;
    width: 45%;
}

.home-heading {
    font-family: "Tangerine", serif;
    font-style:oblique;
    font-weight: 100;
    font-size: 140px;
    color: white;
}

.home-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 400px;
    padding: 20px;
    transform: rotate(-4deg);
    position: relative;
    background-color: white;
}

.home-image {
    width: 95%;
    height: 95%;
    position: absolute;
}

.home-greeting-wrapper {
    position: absolute;
    z-index: 100;
    bottom: 1em;
}

.home-greeting {
    font-family: "Pacifico", serif;
    font-style: oblique;
    font-size: 40px;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}