@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.aside-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border-right: 2px solid rgb(26, 133, 133);  */
    padding: 10px;
    position: fixed;
    height: 80vh;
}

.aside-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 2px solid red;  */
    align-self: flex-start;
    border-right: 2px solid rgb(26, 133, 133); 
    /* border-bottom: 2px solid rgb(26, 133, 133); */
}

.aside-nav-item {
    margin: 10px;
    list-style-type: none;
}

.aside-nav-link {
    font-family: "Oswald", serif; 
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.aside-nav-link:hover {
    /* text-decoration: overline; */
    color: rgb(26, 133, 133);
  }

  .aside-active {
    text-decoration: overline;
    /* color: rgb(26, 133, 133); */
    color: red
  }