.post-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

.markdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    background-color: whitesmoke;
    color: black;
}

.markdown h1 {
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}

.markdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.markdown-content p {
    margin-bottom: 15px;
    text-align: justify;
}

.markdown-content img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.markdown-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.float {
    margin-right: 20px;
    margin-bottom: 10px;
}
/* Large devices such as laptops, computers (greater than 1024px) */
@media only screen and (min-width: 1024px) {
    .markdown { 
        width: 60%;
        padding: 50px;
    }
    
    .float-left.portrait {
        float: left;
        min-width: 350px;
        max-width: 350px;
        min-height: 450px;
        max-height: 450px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    
    .float-right.portrait {
        float: right;
        min-width: 350px;
        max-width: 350px;
        min-height: 450px;
        max-height: 450px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .float-right.long {
        float: right;
        min-width: 320px;
        max-width: 320px;
        min-height: 500px;
        max-height: 500px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .float-left.long {
        float: left;
        min-width: 350px;
        max-width: 350px;
        min-height: 500px;
        max-height: 500px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    
    .gallery.portrait {
        min-width: 300px;
        max-width: 300px;
        min-height: 400px;
        max-height: 400px;
        margin: 5px;
    }
}

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
    .markdown {
        width: 100%;
        padding: 30px;
    }

    .portrait {
        width: 300px;
        height: 350px;
        margin: 10px;
    }
    
    .long {
        width: 300px;
        height: 400px;
    }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
    .markdown {
        width: 100%;
        padding: 30px;
    }

    .portrait {
        width: 300px;
        height: 350px;
    }
    
    .long {
        width: 300px;
        height: 400px;
    }
}