.post-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

.markdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top:20px;
    padding: 50px;
    background-color: whitesmoke;
    color: black;
}

.markdown h1 {
    margin-bottom: 20px;
    font-style: italic;
}

.markdown p {
    margin: 5px;
}

.markdown img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

img[alt="portrait"] {
    width: 400px;
    height: 500px;
    max-width: 100%;
}

img[alt="long"] {
    width: 400px;
    height: 600px;
    max-width: 100%;
}