.category-page-section {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .category-cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 10px;
    padding: 10px;
  }
  
  .category-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 30px 50px;
  }
  
  .category-cards-heading {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color:whitesmoke;
  }  

  .find-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 30px 50px;
  }

  .sofia-link {
    text-decoration: none;
  }