.new-main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Trebuchet MS', sans-serif;
}

.new-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: whitesmoke;
}

.new-card-heading-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.new-card-heading {
    padding: 5px;
    font-size: 20px;
    color: rgb(26, 133, 133);
}

.new-link {
    text-decoration: none;
    width: 100%;
}

/* ----------------------------------------------------------------------------- */
.recommended-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin: 5px 10px;
    padding: 50px 40px;
    background-color: whitesmoke;
}

.new-recommended-heading-wrapper {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    width: 100%;
}

.new-recommended-card-image {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.new-recommended-heading {
    color: rgb(26, 133, 133);
    padding: 5px;
    font-size: 20px;
}

.new-recommended-category {
    font-weight: bold;
    color: rgb(26, 133, 133);
}

.new-recommended-date {
    font-style: italic;
}

.new-recommended-title {
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
}

.new-recommended-text {
    font-size: 15px;
    font-weight: 300;
}

.recommended-link {
    text-decoration: none;
    color: black;
}

.new-recommended-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.new-recommended-button {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

.new-recommended-button:hover {
    font-weight: bold;
    color: rgb(26, 133, 133);
}

/* Large devices such as laptops, computers (greater than 1024px) */
@media only screen and (min-width: 1024px) {
    .new-main-section {
        flex-direction: row;
    }

    .new-cards-container {
        width: 60%;
        padding: 50px;
    }

    .recommended-section{
        width: 30%;
    }

    .new-card-heading-wrapper {
        justify-content: flex-start;
    }

    .new-recommended-heading-wrapper {
        justify-content: flex-start;
    }
}

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
    .new-main-section {
        flex-direction: column;
    }

    .new-cards-container {
        width: 95%;
        padding: 40px;
    }

    .recommended-section{
        width: 95%;
    }

    .new-card-heading-wrapper {
        justify-content: center;
    }

    .new-recommended-heading-wrapper {
        justify-content: center;
    }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
    .new-main-section {
        flex-direction: column;
    }

    .new-cards-container {
        width: 95%;
        padding: 40px;
    }

    .recommended-section{
        width: 95%;
    }

    .new-card-heading-wrapper {
        justify-content: center;
    }

    .new-recommended-heading-wrapper {
        justify-content: center;
    }
}